@import "tailwindcss";

:root {
  font-family: ubuntu-mono, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: #cccccc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}
