@import "tailwindcss";

@theme {
  --color-bold-1: #ffbf00;
  --color-bold-2: #008b8b;
  --color-bold-3: #d9645c;
  --color-neutral-1: #d4a5a5;
  --color-neutral-2: #9caf88;
  --color-neutral-3: #8B8680;
  --color-dark: #1a3a3a;
}
